/* styles.css */

body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    background-color:   plum;
    color: white; /* Black text color */
}

a {
    color: #000; /* Black text color for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
.navbar {
    background-color: #FEBBCC;
    padding: 20px 0;
    text-align: center;
}

.navbar a {
    margin: 0 15px;
    font-size: 18px;
}
.name {
    color:black;
}
.surname {
    color: #FEBBCC;
}
.moving-text {
    animation: moveText 2s infinite alternate;
    color: black;
}
@keyframes moveText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(50px);
    }
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Homepage Section Styles */
.home-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-pic img {
    width: 700px;
    border: .2rem solid black;
    border-radius: 50%;
}

.home-text {
    text-align: center;
}

.contact-button,
.cv-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FEBBCC;
    color: black;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  

.contact-button:hover,
.cv-button:hover {
    background-color: #FFCCCC;
}

/* Section Heading Styles */
h1 {
    color: #000; /* Black text color */
    font-size: 3rem;
}

/* About Section Styles */
#about .content {
    text-align: center;
    margin-top: 50px;
}

/* Education Section Styles */
#education .content,
#skills .content,
#projects .content,
#contact .content,
#contact-in{
    text-align: center;
    margin-top: 50px;
}
.skills-container {
    text-align: center;
}

.icons {
    font-size: 40px; 
    color: black;
}

.icons i {
    margin: 10px; 
}

.contact-in{
    padding: 40px 30px;
    flex: 30%;
    justify-content: flex-start;
}
#contact .wrapper{
        position: center; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        max-width: 400px; 
        width: 70%; 
        background:#FEBBCC; 
        padding: 30px; 
        align-items: center;
        margin-left: 50%;
        margin-top: 300px;
        border-radius: 5px; 
        box-shadow: 10px 4px 8px
            #ebb5be; 
}
    
.wrapper h2 {
        text-align: center;
        margin-bottom: 2px;
}
    
.input_field {
        margin-bottom: 15px;
}
    
.input_field input,
.input_field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn {
     text-align: center;
}
.btn input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
    
.btn input[type="submit"]:hover {
    background-color: black;
}
    
#error_message {
    color:black;
    margin-bottom: 10px;
}
    
.timeline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.container img {
    width: 100px;
    margin-right: 20px;
    margin: 80px;
}

.text-box {
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    width: 300px;
    position: relative;
}

.left-container-arrow,
.right-container-arrow {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #FEBBCC;
    transform: translateY(-50%);
}

.right-container-arrow {
    transform: translateY(-50%) rotate(180deg);
    left: -15px;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

#projects {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project img {
    width: 200px; 
    height: 220px; 
    display: block;
    margin: 0 auto;
}
.socials {
    text-align: center;
}

.socials a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.socials a:hover {
    background-color: #FEBBCC;
}


/* Footer Styles */
footer {
    background-color: #FEBBCC;
    text-align: center;
    padding: 20px 0;
}
